html, body {
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

main {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;

}

#chatrooms-wrapper {
    min-width: 30ch;
    max-width: 30ch;
    height: 100vh;
}

#chat-view-wrapper {
    width: 100%;
    height: 100vh;
    border: solid 1px #b9b9b9;
}

#chat-view {
    width: 100%;
    min-height: 100%;
    /* overflow-y: scroll; */
    word-wrap: normal;
    height: calc(100vh - 4em);
}

#user-message-wrapper {
    display: flex;
    height: 4em;
    min-width: 80ch;
    max-width: 100ch;
    width: 100%;
}
#user-message {
    /* min-width: 80ch;
    max-width: 100ch; */
    width: 100%;
    height: 100%;
    /* padding-top: 0.2em; */
    /* padding-bottom: 0.2em; */
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 1.1em;
    border: solid 1px #b9b9b9;
    border-radius: 2px;
    color: #292929;
}

#send {
    width: 8ch;
    height: 100%;
    font-size: 1.1em;
    border: solid 1px #b9b9b9;
}

.chat-bubble {
    /* margin-top: 1em;
    margin-bottom: 1em; */
    margin: 0.5em;
    width: 100%;
    font-size: 1.1em;
}